.window {
    height: 900px;
    width: 1920px;
    overflow-y: scroll;
    overflow-x: scroll;
}

body {
    overflow-x: hidden;
}

.topbar {
    margin-bottom: 10px;
}

.clicked {

}

#svg {
    transform: scale(2,2);
    transform-origin: 0 0;
}